/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'variables';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
}




/* 2. Content ================================= */

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100vw;
	position: absolute;

		h1 {
			position: absolute;
			top: 5%;
			left: 0%;
			transform: rotate(-30deg);
			font-size: 9vh;
		}
	.post-block {
		background: red;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50vh;

		.post-button {
			background-color: transparent;
			-moz-border-radius: 15px;
			-webkit-border-radius: 15px;
			border-radius: 15px;
			border: 1px solid #d6bcd6;
			display: inline-block;
			cursor: pointer;
			color: black;
			font-family: 'Passion One', cursive;
			font-size: 17px;
			padding: 7px 25px;
			text-decoration: none;
			text-shadow: 0px 1px 0px white;
			transition: .3;
		}
			.post-button:hover {
				background-color: #bab1ba;
			}

			.post-button:active {
				position: relative;
				top: 1px;
			}
	}
	.find-block {
		background: blue;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50vh;



		.find-button {
			background-color: transparent;
			-moz-border-radius: 15px;
			-webkit-border-radius: 15px;
			border-radius: 15px;
			border: 1px solid #d6bcd6;
			display: inline-block;
			cursor: pointer;
			color: black;
			font-family: 'Passion One', cursive;
			font-size: 17px;
			padding: 7px 25px;
			text-decoration: none;
			text-shadow: 0px 1px 0px white;
			transition: .3;
		}
			.find-button:hover {
				background-color: #bab1ba;
			}

			.find-button:active {
				position: relative;
				top: 1px;
				}

	}
}

// ========================Tablet View ==========================


.wrapper {
	@include bp-tablet {
		display: flex;
		flex-direction: row;

		 .post-block, .find-block {
		 	height: 100vh;
		 	width: 50vw;
		 }
	}
}











